{% extends 'header1.html' %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-6 py-5">
        <img src="../static/img/user_library.jpg" width="600" height="400">
      </div>
      <div class="col-5 py-5">
        <h3>Guru Nanak Khalsa Library</h3>
        <p>
          The college library is a rich resource centre offering various facilities to students and the staff...

            It has textbooks on all subjects, latest reference books, journals, periodicals, newspapers and magazines. Reading material in Hindi, Marathi and Punjabi is also available here. Its reference collection includes dictionaries, directories, reports, encyclopedias, question papers of past years, CDs and audio cassettes. A large number of books on career guidance are available to students appearing incompetitive examinations.
            The library has subscribed to UGC-INFLIBNET-NLIST (online journals and books)
            It has an open-access catalogue of books (OPAC).
            It provides free internet access to students and staff members.
            The college is an institutional member of the British Council Library, the American Centre Library and the Bombay Natural History Society.
            It is a life member of NAB - M. P. Shah, All India Talking Books Centre.
            It offers reprographic and scanning facilities.
            The library is equipped to take care of the special needs of visually-impaired and differently-abled students and senior citizens.
        </p>
      </div>
    </div>
</div>

  {% endblock %}