{% extends 'header1.html' %}

{% block content %}

<form action="" method="post">
    <div class="container py-lg-5">
        <div class="modal-body">
            <div class="container">
            <div class="row">
                <h4 class="py-3">Feedback:</h4>
                <div class="col-5 mb-3">
                    <label for="nametxt" classs="from-label">Name : </label>
                    <input type="text" class="form-control" name="nametxt" id="nametxt">
                </div>
                <div class="col-5">
                    <label for="emailtxt" classs="from-label">Email : </label>
                    <input type="email" class="form-control" name="emailtxt" id="emailtxt">
                </div>
                
                <div class="col-5 mb-3">
                    <label for="descriptiontxt" classs="from-label">Descripbe Feedback : </label>
                    <textarea name="descriptiontxt" id="descriptiontxt" class="form-control" cols="30" rows="3"></textarea>
                </div>

            </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</form>
  {% endblock %}